<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
      <form v-on:submit.prevent="submitForm">
        <div>
          <textarea v-model="formdata.message_text" placeholder="add multiple lines"></textarea>
        </div>
        <div>
        <button type="submit">
          Analyse
        </button>
        </div>
      </form>
      <div v-if="sentiment != null && (sentiment == 'POSITIVE' || sentiment == 'NEGATIVE')">
        <h1> The sentiment detected is mostly <span :class="sentiment.toLowerCase()">{{ sentiment }}</span>.</h1>
      </div>
      <div v-if="sentiment != null && (sentiment == 'NEUTRAL' || sentiment == 'MIXED')">
        <h1> The sentiment detected is <span :class="sentiment.toLowerCase()">{{ sentiment }}</span>.</h1>
      </div>
      <div v-if="error_msg != null">
        <h1 class="error"> An error occured when sending the message for analysis !</h1>
        <span>{{ error_msg }}</span>
      </div>
      <div v-if="entities != null && Object.keys(entities).length > 0">
        <table class="table">
          <thead><tr><th>ENTITY</th><th>Text</th></tr></thead>
          <tbody>
            <tr v-for="(row, i) in entities" :key="i">
              <th>{{ i }}</th><th><span v-for="(en, i) in row" :key="i">{{ en }}<span v-if="row.length > 1 && i < row.length - 1">, </span></span></th>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      formdata: { message_text: '' },
      sentiment: null,
      error_msg: null,
      entities: null
    }
  },
  methods: {
    submitForm () {
      console.log(this.formdata)
      this.sentiment = null
      this.error_msg = null
      this.entities = null
      if (this.formdata.message_text.length > 0) {
        // axios.get('http://localhost:8080/analyse_gw_stage/analyse?message_text=' + this.formdata.message_text)
        axios.get('https://0smmg20wkd.execute-api.eu-west-1.amazonaws.com/analyse_gw_stage/analyse?message_text=' + this.formdata.message_text)
          .then(res => {
            this.sentiment = res.data.sentiment
            this.entities = res.data.entities
            console.log(res.data)
            console.log(this.entities)
          })
          .catch(err => {
            this.error_msg = err
          })
      // }
      }
    }
  }
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
textarea {
  width: 800px;
  height: 150px;
}
button {
  background: #f1c40f;
  width: 160px;
  height: 50px;
  left: 50%;
  top: 50%;
}

.error {
  color: red;
}
.negative {
  color: red;
}

.positive {
  color: green;
}

.mixed {
  color: orange;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
}

td,th { padding-left:8px }

thead tr {
  height:60px;
  background:#FFED86;
  font-size:16px;
}

tbody tr { height:48px; border-bottom:1px solid #E3F1D5 ;
}

td,th { text-align:left;
}

</style>
