/// <reference path="path/types.d.ts" />
<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/Talent-Academy-logo.png">
    <HelloWorld msg="Type your message to be analyzed"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import HelloWorld from '@/components/HelloWorld.vue' // @ is an alias to /src

export default defineComponent({
  name: 'Home',
  components: {
    HelloWorld
  }
})
</script>

<style scoped>
img {
  height: 200px;
  width: 200px;
}
</style>
